<%- include('../partials/header') %>
<h1>Flights Details</h1>
<section>
    <h3>Flight Information</h3>
    <ul>
        <li> Airline: <%= flight.airline %> </li>
        <li> Airport: <%= flight.airport %> </li>
        <li> Flgith Number: <%= flight.flightNo %> </li>
        <li> Departure Time: <%= flight.departs %> </li>
    </ul>
</section>

<section>
    <h3>Destination</h3>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Airport: </label>
            <select name="airport">
                <option value="n/a">N/A</option>
                <option value="DEN">DEN</option>
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        <label>Arrival Time: </label>
        <input type="datetime-local" name="arrival"/>
        <input type="submit" value="Add Destination"/>
    </form></br></br>

    <table>    
        <thead>
            <tr>
                <th>Airport</th>
		        <th>Arrival</th>
	        </tr>
        </thead>
	    <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<section>
    <h3>Tickets:</h3>
    <a href="/flights/<%=flight._id%>/tickets/new">Add a Ticket</a>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>seat</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                    <% tickets.forEach((tickets) => { %>
                        <tr>
                            <td>Seat: <%= tickets.seat %></td>
                            <td>Price: <%= tickets.price %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
</section>

<%- include('../partials/footer') %>