<%- include('../partials/header') %>
<h1>Flights Details</h1>
<section>
    <h3>Flight Information</h3>
    <ul>
        <li> Airline: <%= flight.airline %> </li>
        <li> Airport: <%= flight.airport %> </li>
        <li> Flgith Number: <%= flight.flightNo %> </li>
        <li> Departure Time: <%= flight.departs %> </li>
    </ul>
</section>

<section>
    <h3>Destination</h3>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Airport:</label>
            <select name="airport">
                <option value="n/a">N/A</option>
                <option value="DEN">DEN</option>
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        <label>Arrival<input type="datetime-local" name="arrival"/></label>
        <button type="submit" value="Add Destination"> Add Destination</button>
    </form>
    <table>    
        <thead>
            <tr>
                <th>Airport</th></br>
		        <th>Arrival</th>
	        </tr>
        </thead>
	    <tbody>
            <% flight.destinations.forEach(function(destination) { %>
                <tr>
                    <td><%= destination.airport %></td>
                    <td><%= destination.arrival %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<section>
    <h3>Tickets:</h3>
        <div>
            <table>
                <tbody>
                    <% ticket.forEach((t) => { %>
                        <tr>
                            <td>Seat: <%= t.seat %></td>
                            <td>Price: <%= t.price %></td>
                        </tr>
                    <% }); %>
                </tbody>
        </table>
    </div>
<a href="/flights/<%= flight._id %>/tickets/new" <%- title === 'Add Ticket' ? 'class="active"' : '' %>>Add a Ticket</a>
</section>

<%- include('../partials/footer') %>